<% layout("layouts/boilerplate.ejs") %>

<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>"
</script>

<div class="row offset-2">
    <h3>Where you'll be</h3>
    <div id="map"></div>
</div>
<script src="/js/map.js"></script>